Table of Contents

Preface

Data Visualisation Techniques

1 – Machine Learning Formation

2 – Business Constraints

3 – Dataset Backround

4 – Performance Metrics

5 – Literature Review

6 – First Cut Solution

7 – Getting Started

8- Removing Single Varaiables

9 – Handling Missing Values

10- Sepreating Features for Analysis

11- Histogram Feature Analysis

12 - Numerical Feature Analysis

13 - Summarizzing our Exploratory Data Analysis 

14 - Preparing Our Data

15 - Expermenting with Machine Learning models

16- Conclusion

17 - References

We have been tasked by a haulage company to analyse a dataset collected from their scania truck fleet which are used daily. They advise that it is essential to reduce maintance costs as a result breakdowns during daily operations. They advise us some of these breakdowns are  due to the failure of the air pressure system. They have asked by using Data Analytics can we use the dataset to reduce these costs.

WE advise that it may be possible to build a predictive model that may help in identfying the compontents that are and are not linked to the breakdown of the air pressure system. This may help them to arrange maintance schedules to insure the optium functioning of their fleet.

The air pressure system in heavy duty trucks use  compressed air to drive the pistons which use the brake pads to slow down the vechicle. The advantage of this system over a  hydraulic system is that is easyily available and cost effective. However we need to be mindful that as a result of ore analysis may extend or reduce the service intervals for these trucks. There have been instances were failures of air pressure systems have led to human fatalies as a result the cost of misclassification is high. As our EDA will ultimatley lead to a machine learing predictive model being produced it is something we need to be aware off.

In [3]:
# import the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Read the dataset
df = pd.read_csv('aps_failure_set.csv')

# Show first 5 records
df.head(-5)

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,76698,na,2130706438,280,0,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,neg,33058,na,0,na,0,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,neg,41040,na,228,100,0,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,neg,12,0,70,66,0,10,0,0,0,...,240,46,58,44,10,0,0,0,4,32
4,neg,60874,na,1368,458,0,0,0,0,0,...,622012,229790,405298,347188,286954,311560,433954,1218,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59990,neg,81354,na,2130706432,156,0,0,0,0,0,...,627610,376028,931828,1035236,674626,161266,3284,0,0,0
59991,neg,39308,na,452,374,0,0,0,0,0,...,312426,161694,323438,292350,250112,157636,234932,9506,0,0
59992,neg,14,0,2,2,0,0,0,0,0,...,132,44,80,52,54,0,0,0,0,0
59993,neg,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59994,neg,32,0,0,na,0,0,0,0,0,...,258,98,224,166,36,486,0,0,0,0

In [8]:
df.shape

(60000, 171)